# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\服务器资料\pytorch_code\kim_300x153\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
